<div id="header">
  <div class="center">
    <h1>로고</h1>
    <ul>
      <li><a href="/">gnb메뉴1</a></li>
      <li><a href="/sub">gnb메뉴2</a></li>
      <li><a href="/first/intro">gnb메뉴3</a></li>
    </ul>
  </div>
</div>
