<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서브페이지</title>
  </head>
  <body>
    <%- include('header') %>
    <div>안녕안녕 나는 서브페이지야</div>
    <%- include('footer') %>
  </body>
</html>
